#globe-container {
    flex-basis: 500px;  /* Ancho fijo para la columna del globo */
    height: 500px;      
    margin: 0; /* Ya no necesita margen 'auto' */
    border-radius: 10px;
    overflow: hidden;
}